<html>

<head>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/explore.css" />
</head>
<body>
    
{{> nav }}


<main>

<h1>{{ pageName }}</h1>

<div id="main-feed">
{{#each feedObjects}}

<div class="feed-item" id={{ this.userID }}>

    <div class="feed-item-title">
        {{this.username}}
    </div>

    <div class="feed-item-subtitle">
        is doing {{ this.thingsBeingDone.length }} Things
    </div>

    <a href="doers/{{ this.username }}"><button class="feed-item-button"> Visit profile </button> </a>

    <div class="feed-item-list">
        {{#each thingsBeingDone}}

        <div class="feed-item-list-entry">
            <div class="left"> <a href="/things/{{ this.thingId }}"> {{ this.thingName }} </a></div>
            <div class="right"> {{ this.lastUpdate }} </div>
        </div>

        {{/each}}
    </div>

</div>

{{/each}}

</div>

</main>

</body>
</html>